# Cache e arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de ambientes virtuais
venv/
env/
.venv/
.env/

# Arquivos de configuração de IDEs comuns
.vscode/
.idea/

# Pacotes de distribuição e build
build/
dist/
*.egg-info/

# fotos
inference_image.py
meet_grid_view.png
